### Maven template
HELP.md
/target/
.mvn/
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

# Eclipse
.metadata/
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.project
.classpath
.loadpath

# Java
## Compiled class file
*.class

## Log file
*.log
*.log.*

## Package files
*.jar

## External tool builders
.externalToolBuilders/

## Locally stored "Eclipse launch configurations"
*.launch

## Java annotation processor (APT)
.factorypath

## STS (Spring Tool Suite)
.springBeans

# JIRA plugin
atlassian-ide-plugin.xml

# node
/node_modules/
.babelrc
.editorconfig
